 

<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Home" asp-action="Index">
        <a asp-controller="Home" asp-action="Index" asp-route-area="" class="m-menu__link ">
            <i class="m-menu__link-icon la la-home"></i>
            <span class="m-menu__link-text">
                Inicio
            </span>
        </a>
    </li>

    @if (1 == 1) //User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN))
    {
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" is-active-menu is-active-route asp-controller="Teacher" asp-area="Admin">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-cogwheel-2"></i>
                <span class="m-menu__link-text">
                    Administración
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Teacher" asp-area="Admin" asp-action="Index">
                        <a asp-action="Index" asp-controller="Bloger" asp-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                            <span class="m-menu__link-text">
                                Bloger
                            </span>
                        </a>
                    </li> 
                </ul>
            </div>
        </li>
   
    }
     
</ul>